# Python Basics: A Beginner's Guide to Programming

In [1]:
# Modify Jupyter Settings to Show All Outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"  # "last_expr"

# 1. Variables

The equal sign (`=`) is used to assign a value (object or data) to a variable.

In [2]:
spam = 1  # and this is a comment
text = "# This is not a comment because it's inside quotes."

# We can reuse variables!
spam = 'one'

# Variables are case-sensetive
Spam = "two"

# The built-in function "print()" prints an object's value:
print(spam)
# 'one'

print(Spam)
# 'two'

# Space, dash and other funny characters are not allowed!
# sp-am-1 = 'ohhh'
# sp am 2 = 'nooo'
sp_am_3 = 'yayy'

one
two

🚀 **Note**: We use `#` to write comments between codes, and sigle `'` or double `"` quotes to store texts (strings).

🔥 **Note**: Python has a set of built-in functions for performing specific tasks. All Python functions use parentheses to receive the required arguments for execution, following the format `function_name(args)`.

###📚 **Workbook practice**

Create some variables for both number and text objects, add some comments, and print the variables.

# 2. Data Types

## 2.1 Numbers

In [3]:
# Using Python as a Calculator!
2 + 2
# 4

2 * 2
# 4

17 / 3 # classic division returns a float
# 5.666666666666667

17 // 3  # floor division discards the fractional part
# 5

17 % 3  # the % operator returns the remainder of the division
# 2

5 ** 2  # 5 squared
# 25

2 ** 7  # 2 to the power of 7
# 128

# Tip: In interactive mode, the last printed expression is assigned to the variable _
#_ * 2
# 256

4

4

5.666666666666667

5

2

25

128

In [4]:
## Create a variable and assign a number
width = 20
height = 30 * 2

area = width * height
area
# 1200

area/7
# 171.428...

1200

171.42857142857142

In [5]:
# Number types
# The built-in function "type()" returns the type of an object:
type(area)
# int

type(area/7)
# float

# The built-in functions "int()" and "floot()" change the number types:
int(3.3)
# 3

float(3)
# 3.0

# The built-in function "round()" rounds a number to a given precision in decimal digits:
round(3.14159265, 2)
# 3.14

round(3.14159265)
# 3

# The built-in function "abs()" returns the absolute value of a number:
abs(-3.4)
# 3.4

int

float

3

3.0

3.14

3

3.4

In addition to `int` and `float`, Python supports other types of numbers, such as "Decimal" (for more precise calculations than float) and "Fraction" (eg. `3/4 + 7/8 = 13/8`). Python also has built-in support for complex numbers, and uses the `j` or `J` suffix to indicate the imaginary part (e.g. `3 + 5j`).

🚀 **Note**: Numbers are **immutable** (not modifiable), **non-subscriptable** (non-sliceable), and **cannot be concatenated** (glued together). Therefore, there is no method for numbers!

###📚 **Workbook practice**

Create some variables with some numbers. Do some simple math with the variables: try classic divison, floor division, and find the remainder of the division.

## 2.2 Text

Python can manipulate text (represented by type str, so-called "strings") as well as numbers. This includes characters `"!"`, words `"rabbit"`, names `"Paris"`, sentences `"Got your back."`, etc. `"Yay! :)"`.

They can be enclosed in single quotes (`'...'`) or double quotes (`"..."`) with the same result.

In [6]:
# Single quotes
'spam eggs'

# Double quotes
"Paris rabbit got your back :)! Yay!"

# You use this option to pass single or double quotes as text!
"It doesn't break!"

'spam eggs'

'Paris rabbit got your back :)! Yay!'

"It doesn't break!"

In [7]:
# String literals can span multiple lines.
# One way is using triple-quotes: """...""" or '''...'''.
print('''This is line one
and two
and more
''')

This is line one
and two
and more

In [8]:
## Create a variable and assign a text (string)
p = 'Py'
c = 'Coding'
p
c

## Text type
type(p)
# str

# Membership testing
'cod' in c
# False

'din' in c
# True

# The built-in function "str()" returns the string object of an object:
str(3.14)
# '3.14'

'Py'

'Coding'

str

False

True

'3.14'

🚀 **Note**: Strings are **immutable** (not modifiable), **subscriptable** (sliceable), and **can be concatenated** (glued together). Therefore, there are many predefined methods for strings!

**Concatenatable:** If an object is concatenatable, we can combine multiple objects of the same type. For example:

In [9]:
# Strings can be concatenated
"12" + "34"
# '1234'

p + 'thon'
# 'Python'

p * 2
# 'PyPy'

p + ' ' + c
# 'Py Coding'

p = p + 'thon' # the short form is: p += 'thon'
p
#'Python'

'1234'

'Python'

'PyPy'

'Py Coding'

'Python'

**Subscriptable (sliceable or indexable):** If an object is subscriptable, it can be sliced into its smallest components. For text, the smallest components are individual characters. For example:

In [10]:
# Strings are indexable
p = "Python"

p[0] # [index]
# 'P'

p[-1]
# 'n'

p[0:2] # [from:to]
# 'Py'

p[:2]
# 'Py'

p[2:]
# 'thon'

p[::2] # [from:to:step], default step is 1
# 'Pto'

'P'

'n'

'Py'

'Py'

'thon'

'Pto'

🚀 **Note**: Think of 0 as the beginning. Then, 1 is the first position after the beginning, 2 is the second, and so on. Similarly, -1 represents the end, -2 is the second-to-last, and so on.

🚀 **Note**: In `[from:to]` indexing, Python includes the `from` index but excludes the `to` index, returning all elements up to but not including `to`.

In [11]:
#  +---+---+---+---+---+---+
#  | P | y | t | h | o | n |
#  +---+---+---+---+---+---+
#    0   1   2   3   4   5
#   -6  -5  -4  -3  -2  -1

# The built-in function "len()" returns the length of a string:
len(p)

6

🔥 Strings have many built-in methods. To use methods, add a `.` to the variable (or the object itself) and call the method. For instance:

In [12]:
# String methods
p = "python"
p.capitalize()
p.upper()
p.lower()
p.index('h')
p.find('h')
','.join(p)
p.split('t')
p.replace('P', 'M')
p.count('P')
p.center(20, '-')
"   Python   ".strip()

'Python'

'PYTHON'

'python'

3

3

'p,y,t,h,o,n'

['py', 'hon']

'python'

0

'-------python-------'

'Python'

### 📚 **Workbook practice**

Run the following codes line by line. What do you notice?

```python
p = "Python"
c = "Coding"

# 1
p[6]
p[6:]

# 2
p[::-1]

# 3
p += c
p # ???

# 4
p = "Mython"
p[0] = "P"
p # ???
```

## 2.3 List
Python knows a number of compound data types, used to group together other values. The most versatile is the "list", which can be written as a list of comma-separated values (**items**) between square brackets.

Lists might contain items of different types, but usually the items all have the same type (**homogeneous**).

In [13]:
squares = [1, 4, 9, 16, 25]
squares
# [1, 4, 9, 16, 25]

type(squares)
# list

empty = []
empty

# Membership testing
4 in squares
# True

[1, 4, 9, 16, 25]

list

[]

True

🚀 **Note**: List are **mutable** (modifiable), **subscriptable** (sliceable or indexable), and **can be concatenated** (glued together). Therefore, there are many predefined methods for Lists.

In [14]:
# Lists are indexable
squares
# [1, 4, 9, 16, 25]

squares[1]
# 4

squares[-1]
# 25

squares[2:]
# [9, 16, 25]

[1, 4, 9, 16, 25]

4

25

[9, 16, 25]

In [15]:
# Lists can be concatenated
squares + [36, 49, 64, 81, 100]
# [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

squares + ['one', 'four', '9', 100, True]
# [1, 4, 9, 16, 25, 'one', 'four', '9', 100, True]

squares * 2
# [1, 4, 9, 16, 25, 1, 4, 9, 16, 25]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 'one', 'four', '9', 100, True]

[1, 4, 9, 16, 25, 1, 4, 9, 16, 25]

In [16]:
# It is possible to nest lists (create lists containing other lists), for example:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x
# [['a', 'b', 'c'], [1, 2, 3]]

x[0]
# ['a', 'b', 'c']

x[0][1]
# 'b'

[['a', 'b', 'c'], [1, 2, 3]]

['a', 'b', 'c']

'b'

**Mutable (modifiable)**: If an object is mutable, it can be modified in place without creating a new object.

In [17]:
# Lists are mutable (modifiable)
cubes = [1, 8, 27, 65, 125]

# The built-in function "id()" returns the id of an object:
id(cubes)

cubes[3] = 64
cubes
# 1, 8, 27, 64, 125]

id(cubes)

139120232760384

[1, 8, 27, 64, 125]

139120232760384

In [18]:
# List methods
cubes.append(216)
cubes
cubes.index(216)
cubes.reverse()
cubes
cubes.sort()
cubes
cubes.remove(216)
cubes

[1, 8, 27, 64, 125, 216]

5

[216, 125, 64, 27, 8, 1]

[1, 8, 27, 64, 125, 216]

[1, 8, 27, 64, 125]

In [19]:
# The built-in functions "min()" and "max()" return the smallest and largest item of an iterable:
min(cubes)
# 1

max(cubes)
# 125

min('python')
# 'h'

# The built-in function "sum()" returns the sum of iterable of numbers:
sum(cubes)
# 225

1

125

'h'

225

## 2.4 Other types

Python has other data types including:  
- Bool: `True`, `False`
- NoneType: `None`
- Data Structures: tuple, set, and dictinary

In [20]:
a = True
type(a)

n = None
type(n)

# c = false
# type(c)
# ???

bool

NoneType

###📚 **Workbook practice**

Run the following codes line by line. What do you notice?

In [21]:
rgb = ["R", "G", "B"]
rgb_copy = rgb  # a copy of rgb list!
rgb_copy.append("A")
rgb_copy
# ???

rgb
# ???

id(rgb) == id(rgb_copy) # they reference the same object
# ???

rgb = ["R", "G", "B"]
correct_rgb_copy = rgb[:]
correct_rgb_copy.append("A")
correct_rgb_copy
# ???

rgb
# ???

id(rgb) == id(correct_rgb_copy)
# ???

['R', 'G', 'B', 'A']

['R', 'G', 'B', 'A']

True

['R', 'G', 'B', 'A']

['R', 'G', 'B']

False

----
# ☕ - Break (10 Min)
----

# 3. Control Flow Tools

## 3.1 `if` statement

In [22]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 22
More

`if` statement syntax (the indentations are required):

```
if condition True (then):
    do this
    and that
elif condition True:
    do this
    and that
    and this
else
    do this
```

There can be zero or more `elif` parts, and the `else` part is optional. The keyword `elif` is short for "else if".

🚀🔥 **Note:** Since the equal sign (`=`) is reserved for assigning variables, Python uses double equal signs (`==`) to compare the equality of two values. Other comparison operators include: not equal (`!=`), less than (`<`), less than or equal to (`<=`), greater than (`>`), and greater than or equal to (`>=`).

## 3.2 `for` statement
Python's `for` statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence. For example:

In [23]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

# w is a temporary variable that assign to each item in the sequence.
# w in words means:
#   iteration 1: w = 'cat'
#   iteration 2: w = 'window'
#   iteration 3: w = 'defenestrate'

cat 3
window 6
defenestrate 12

`for` statement syntax (the indentations are required):

```
for temp_variable in sequence:
    do this
    and that
```

In [24]:
# Measure some strings if the string length is less than 10:
words = ['cat', 'window', 'defenestrate']
for w in words:
    if len(w) < 10:
        print(w, len(w))

cat 3
window 6

If you do need to iterate over a sequence of numbers, the built-in function `range()` comes in handy. It generates arithmetic progressions:

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
list(range(5)) # range from 0 to 5 (incuding "from" but not "to")
# [0, 1, 2, 3, 4]

list(range(1, 5)) # range from 1 to 5
# 1, 2, 3, 4]

list(range(1, 10, 3)) # range from 1 to 10 with step 3
# [1, 4, 7]

[0, 1, 2, 3, 4]

[1, 2, 3, 4]

[1, 4, 7]

In [27]:
# Using both "range()" and "len()" functions
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

###📚 **Workbook practice**

#### **Task:**  
Write a Python program that checks how many numbers in a given list are positive.  

#### **Instructions:**  
1. Define a list of numbers (both positive and negative).  
2. Use a `for` loop to iterate through the list.  
3. Use an `if` statement to check if a number is greater than zero.  
4. Count and print the number of positive values.  


#### **Expected Output:**  
```python
# Sample list
numbers = [-3, 5, -1, 7, 0, -8, 10]

# Output
Count of positive numbers: 3
```

This quick practice reinforces **`for` loops and `if` statements** in Python. 🚀

## 3.3 `while` statement
The `while` loop executes as long as the condition remains true.

In [28]:
# Sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

# 4.4 `break` and `continue` statements

The `break` statement breaks out of the innermost enclosing for or while loop:

In [29]:
# Finding the first even number in a list
for n in range(3, 10):
    if n % 2 == 0:
        print(n, "is even")
        break
    else:
        print(n, "is odd")

3 is odd
4 is even

The `continue` statement continues with the next iteration of the loop:

In [30]:
# Finding even and odd numbers in a list
for n in range(3, 10):
    if n % 2 == 0:
        print(f"{n} is even")
        continue
    print(f"{n} is odd")

3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In a `for` or `while` loop the `break` statement may be paired with an `else` clause. If the loop finishes **without** executing the break, the `else` clause executes.

In [31]:
for n in range(2, 10):
    #print("n", n)
    for x in range(2, n):
        #print("x", x)
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

# 4. Defining Functions

💡 **Reminder**: Python has a set of built-in functions for performing specific tasks. All Python functions use parentheses to receive the required arguments for execution, following the format `function_name(args)`. You can find all Python built-in functions in [here](https://docs.python.org/3/library/functions.html).

In Python, we can create our own functions! The keyword `def` introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters (arguments):

```
def function_name(arguments):
    """
    docstring
    """
    body
```

The first statement of the function body can optionally be a string literal; this string literal is the function's documentation string, or **docstring** (more about docstrings can be found in [here](https://docs.python.org/3/tutorial/controlflow.html#documentation-strings)).

For example let's define a function that returns the Fibonacci series less than a given number. For example the follwing is the Fibonacci series less than 10:

```
0, 1
0, 1, 0+1
0, 1, 1, 1+1
0, 1, 1, 2, 1+2
0, 1, 1, 2, 3, 2+3
0, 1, 1, 2, 3, 5, 8
```

In [32]:
# Write Fibonacci series less than n
def fib(n):
    """
    Print a Fibonacci series less than n.
    """
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

# Store the output
fib2000 = fib(2000)

print(fib2000)
# None

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597
None

If a function does not have a `return` statement, it returns `None` by default. So, use `return` when you need a value from the function.

Note that a function does not execute any code after a `return` statement. Once `return` is encountered, the function exits immediately.

Let's rewrite the function:

In [33]:
# Return Fibonacci series up to n
def fib2(n):
    """
    Return a list containing the Fibonacci series up to n.
    """
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

# Now call the function:
f100 = fib2(100)
f100
# [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

###📚 **Workbook practice**

#### **Task:**  
Write a Python function called `filter_even_numbers()` that takes a list of numbers as input and returns a new list containing only the even numbers.  

#### **Instructions:**  
1. Define a function `filter_even_numbers(numbers)`.  
2. Use a loop (`for` or `while`) to iterate through the list.  
3. Use an `if` statement to check if each number is even (`number % 2 == 0`).  
4. Store even numbers in a new list.  
5. Return the filtered list.  
6. Test the function with an example list, e.g., `test = [1, 2, 3, 4, 5, 6, 7, 8]`.  

#### **Help Code:**
```python
def filter_even_numbers(numbers):
    """
    Returns a list of even numbers from a list.
    """
    result = ...
    for ...:
        if ...:
            ...
    return result
```

#### **Example Output:**  
```python
print(filter_even_numbers(test))
# Output: [2, 4, 6, 8]
```

----
# ☕ - Break (10 Min)
----

# 5. Data Structures

This chapter describes some things you've learned about already in more detail, and adds some new things as well.

## 5.1 Lists

An example that uses most of the list **methods**:

In [34]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

fruits.count('apple')
# 2

fruits.count('tangerine')
# 0

fruits.index('banana')
# 3

fruits.index('banana', 4)  # Find next banana starting at position 4
# 6

fruits.reverse()
fruits
# ['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

fruits.append('grape')
fruits
# ['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

fruits.sort()
fruits
# ['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

fruits.pop()
# 'pear'

fruits
# ['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

fruits.remove('banana')
fruits
# ['apple', 'apple', 'banana', 'grape', 'kiwi', 'orange']

2

0

3

6

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

'pear'

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

['apple', 'apple', 'banana', 'grape', 'kiwi', 'orange']

Another applicatin of lists is **List Comprehension**. List comprehensions (*listcomp*) provide a concise way to create lists.

For example, assume we want to create a list of squares, like:

In [35]:
squares = []
for x in range(10):
    squares.append(x**2)

squares
# [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

or, equivalently:

In [36]:
squares = [x**2 for x in range(0, 10)]
squares
# [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Want to multiply each item of the list by 2:
squares * 2 # this will concatinate two lists!
# [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[x * 2 for x in squares]
# [0, 2, 8, 18, 32, 50, 72, 98, 128, 162]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 2, 8, 18, 32, 50, 72, 98, 128, 162]

For example, this **listcomp** combines the elements of two lists if they are not equal:

In [37]:
[[x, y] for x in [1,2,3] for y in [3,1,4] if x != y]
# [[1, 3], [1, 4], [2, 3], [2, 1], [2, 4], [3, 1], [3, 4]]

[[1, 3], [1, 4], [2, 3], [2, 1], [2, 4], [3, 1], [3, 4]]

Instead of:

In [38]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs
#[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## 5.2 Tuples

A tuple consists of a number of values separated by commas. Though tuples may seem similar to lists, they are often used in different situations and for different purposes.

🚀 Tuples are **immutable**, and usually contain a **heterogeneous** sequence of elements that are accessed via unpacking or indexing. Tuples may be input with or without surrounding parentheses. Tuples support indexing and can be concatenated.

In [39]:
t = (12345, 54321, 'hello!')
type(t)

# without the surrounding parentheses
t = 12345, 54321, 'hello!' # packing
t
# (12345, 54321, 'hello!')

# Tuples are indexable
t[0]
# 12345

t[1:]
# (54321, 'hello!')

# Tuples can be concatenated
u = 1, 2, 'three'
t + u
# (12345, 54321, 'hello!', 1, 2, 'three')

tuple

(12345, 54321, 'hello!')

12345

(54321, 'hello!')

(12345, 54321, 'hello!', 1, 2, 'three')

In [40]:
# Sequence unpacking
x, y, z = u
print(x, y, z)
# 1 2 three

# You can also use the asterisk (*) to unpack multiple elements into a single list
x, *y = u
print(x, y)
# 1 [2, 'three']

# Tuples may be nested:
u = (t, (10, 20, 30))
u
# ((12345, 54321, 'hello!'), (10, 20, 30))

1 2 three
1 [2, 'three']

((12345, 54321, 'hello!'), (10, 20, 30))

In [41]:
# Singleton and empty tuples
singleton = 'hello',    # <-- note trailing comma
singleton
# ('hello',)

empty = ()
empty

# Tuples only have two methods:
t
# (12345, 54321, 'hello!')

t.count(12345)
t.index('hello!')

# The built-in function "list()" returns a list of any iterable object
list(t)
# [12345, 54321, 'hello!']

('hello',)

()

(12345, 54321, 'hello!')

1

2

[12345, 54321, 'hello!']

Remember the Fibonacci series, where we have two variables, `a` and `b`, and want to update them as `a = b` and `b = a + b`:

In [42]:
# Withou tuples
a = 10
b = 20
a = b
b = a + b
print(a, b)
# 20 40

# With using tuples
a = 10
b = 20
a, b = b, a + b
print(a, b)
# 20 30

20 40
20 30

## 5.3 Sets

Python also includes a data type for sets. A set is an **unordered** collection with **no duplicate** elements.

Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

🚀 Curly braces or the `set()` function can be used to create sets. Note: to create an empty set you have to use `set()`, not `{}`; the latter creates an empty dictionary, a data structure that we discuss in the next section.

Sets are **mutable**, but they are neither subscriptable nor concatenable.

In [43]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

# Show that duplicates have been removed
print(basket)
# {'banana', 'apple', 'pear', 'orange'}

# Membership testing
'orange' in basket
# True

'crabgrass' in basket
# False

empty = set()
empty

# The built-in function "sorted()" returns a new list containing all items from the iterable in ascending order.
bs_sorted = sorted(basket)
bs_sorted
# ['apple', 'banana', 'orange', 'pear']

set(bs_sorted)
# {'apple', 'banana', 'orange', 'pear'}

{'orange', 'banana', 'pear', 'apple'}

True

False

set()

['apple', 'banana', 'orange', 'pear']

{'apple', 'banana', 'orange', 'pear'}

In [44]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')

# Unique letters in a
a

# Unique letters in b
b

# Letters in a but not in b
a - b

# Letters in a or b or both
a | b

# Letters in both a and b
a & b

# Letters in a or b but not both
a ^ b

{'a', 'b', 'c', 'd', 'r'}

{'a', 'c', 'l', 'm', 'z'}

{'b', 'd', 'r'}

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

{'a', 'c'}

{'b', 'd', 'l', 'm', 'r', 'z'}

Similarly to list comprehensions, set comprehensions are also supported:

In [45]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a
# {'d', 'r'}

{'d', 'r'}

Sets have several methods such as:

In [46]:
a = {'d', 'r'}
b = {'r', 'c'}
id1 = id(a)

a.intersection(b)
# {'r'}

a.difference(b)
# {'d'}

a.issubset(b)
# False

a.union(b)
# {'c', 'd', 'r'}

a.add('new')
a
# {'d', 'new', 'r'}

a.remove('d')
a
# {'new', 'r'}

id2 = id(a)

# Sets are mutable
id1 == id2
# True

{'r'}

{'d'}

False

{'c', 'd', 'r'}

{'d', 'new', 'r'}

{'new', 'r'}

True

## 5.4 Dictionaries

Dictionaries are a data structure consisting of **keys** and **values**. Unlike lists and tuples that are indexed by numerical positions, dictionaries are indexed by unique and **immutable** keys (i.e., strings, numbers, or tuples). Meanwhile, dictionary values can be of any type (mutable or immutable) and may be duplicated.

The primary operations on a dictionary involve storing values with specific keys and retrieving values using those keys.

In [47]:
tel = {'jack': 4098, 'sam': 4139}
tel

# Dicts are subscriptable with keys
tel['jack']
# 4098

# We can assign a key and a value
tel['guido'] = 4127
tel
# {'jack': 4098, 'sam': 4139, 'guido': 4127}

# We can modify the value for an existing key
tel['sam'] = 9341
tel
# {'jack': 4098, 'sam': 9341, 'guido': 4127}

# List of keys
list(tel)
# ['jack', 'sam', 'guido']

sorted(tel)
# ['guido', 'jack', 'sam']

# Membership testing
'guido' in tel
# True

'jack' not in tel
# False

empty = {}
type(empty)
empty

{'jack': 4098, 'sam': 4139}

4098

{'jack': 4098, 'sam': 4139, 'guido': 4127}

{'jack': 4098, 'sam': 9341, 'guido': 4127}

['jack', 'sam', 'guido']

['guido', 'jack', 'sam']

True

False

dict

{}

In [48]:
# The "dict()"" function builds dictionaries directly from sequences of key-value pairs:
ls_tp = [('sam', 4139), ('guido', 4127), ('jack', 4098)]
dict(ls_tp)
# {'sam': 4139, 'guido': 4127, 'jack': 4098}

{'sam': 4139, 'guido': 4127, 'jack': 4098}

In [49]:
# Dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:
{str(x): x**2 for x in range(1, 10)}
# {'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64, '9': 81}

# Applying "if":
{str(x): x**2 for x in range(10) if x != 0}
# {'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64, '9': 81}

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64, '9': 81}

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64, '9': 81}

In [50]:
# Looping over dicts
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

for i in knights:
    print(i, knights[i])
# gallahad the pure
# robin the brave

# The ".items()" method returns a tuple of (key, value) for each pair
for k, v in knights.items():
    print(k, v)
# gallahad the pure
# robin the brave

gallahad the pure
robin the brave
gallahad the pure
robin the brave

In [51]:
# The built-in function "zip()" yields tuples until an input is exhausted.
zp_two = list(zip('abcdef', range(3)))
# [('a', 0), ('b', 1), ('c', 2)]

dict(zp_two)
# {'a': 0, 'b': 1, 'c': 2}

{'a': 0, 'b': 1, 'c': 2}

In [52]:
# Another example
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
qa_dict = dict(zip(questions, answers))
qa_dict
# {'name': 'lancelot', 'quest': 'the holy grail', 'favorite color': 'blue'}

for q, a in qa_dict.items():
    print(f'What is your {q}?  It is {a}.')
#What is your name?  It is lancelot.
#What is your quest?  It is the holy grail.
#What is your favorite color?  It is blue.

{'name': 'lancelot', 'quest': 'the holy grail', 'favorite color': 'blue'}

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [53]:
# Some of the methods
list(qa_dict.keys())
# 'name', 'quest', 'favorite color']

list(qa_dict.values())
# ['lancelot', 'the holy grail', 'blue']

list(qa_dict.items())
# [('name', 'lancelot'), ('quest', 'the holy grail'), ('favorite color', 'blue')]

['name', 'quest', 'favorite color']

['lancelot', 'the holy grail', 'blue']

[('name', 'lancelot'), ('quest', 'the holy grail'), ('favorite color', 'blue')]

###📚 **Workbook practice**

#### **Task:**  
Use **lists, sets, dictionaries, and the `zip()` function** to store student grades, identify unique grades, and find the highest-scoring student.  

#### **Instructions:**  
1. Create two lists:  
   - `students = ["Alice", "Bob", "Charlie", "David", "Eve"]`  
   - `grades = [85, 90, 78, 92, 90]`  
2. Find unique grades `unique_grades`.
3. Find the highest grade `highest_grade`.
4. Create a dictionary `student_grades`.  
5. Find the highest grade and the student(s) who achieved it.  
6. Print the dictionary, unique grades, and highest-scoring student(s).  

#### **Help Code:**  
```python
# Define lists
students = ["Alice", "Bob", "Charlie", "David", "Eve"]
grades = [85, 90, 78, 92, 90]

# Remove duplicates from grades list
unique_grades = ...

# Find the highest grade using "max()" funtion
highest_grade = ...

# Create the dictionary
student_grades = ...

# Find list of student(s) who got the highest grade
top_students = ...

# Print results
print("Student Grades Dictionary:", student_grades)
print("Unique Grades Set:", unique_grades)
print("Highest Grade:", highest_grade)
print("Top Student(s):", top_students)
```

#### **Expected Output:**  
```
Student Grades Dictionary: {'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 92, 'Eve': 90}  
Unique Grades Set: {85, 90, 78, 92}  
Highest Grade: 92  
Top Student(s): ['David']
```

# 6. Modules
If you quit from the Python interpreter and enter it again, the definitions you have made (functions and variables) are lost. Therefore, if you want to write a somewhat longer program, you are better off using a text editor (like IDEs such as VS Code or terminal text editors like Emacs, Nano, or Vim) to prepare the input for the interpreter and running it with that file as input instead. This is known as creating a *script*.

As your program gets longer, you may want to split it into several files for easier maintenance. You may also want to use a handy function that you've written in several programs without copying its definition into each program.

To support this, Python has a way to put definitions in a file and use them in a script or in an interactive instance of the interpreter. Such a file is called a **module**; definitions from a module can be imported into other modules or into the main module.

A module is a file containing Python definitions and statements. The file name is the module name with the suffix `.py` appended.

For instance, use your favorite text editor to create a file called `fibonacci.py` in the current directory with the following contents:

```python
# Fibonacci numbers module

def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

# Executing modules as scripts
if __name__ == "__main__":
    # This only runs if we run the script
    import sys
    fib(int(sys.argv[1]))
```

Now enter the Python interpreter and import this module with the following command:

In [55]:
import fibonacci as fibo

fibo.fib(100)
# 0 1 1 2 3 5 8 13 21 34 55 89

fibo.fib2(100)
# [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

fibo.__name__
# 'fibonacci'

0 1 1 2 3 5 8 13 21 34 55 89

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

'fibonacci'

In [56]:
# We can import a certain function from a module
from fibonacci import fib2

fib2(100)

# Or we can also import all (*)
from fibonacci import *

fib(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

0 1 1 2 3 5 8 13 21 34 55 89

You can run the script via command line as well, because the code that parses the command line only runs if the module that is executed as the **“main”** file:

In [57]:
!python fibonacci.py 100

0 1 1 2 3 5 8 13 21 34 55 89

### 🎉 🚀🔥 Awesome! We built an application that works great!

## 6.1  Standard Modules

Python comes with a comprehensive library of **standard modules** that provide built-in functionality for various tasks, such as file handling, mathematical operations, data manipulation, and system interactions. These modules can be imported and used directly without requiring additional installation. You can explore the full list of standard modules in the official Python documentation [here](https://docs.python.org/3/library/index.html). Additionally, I have compiled a summary of some commonly used modules with explanations and examples, which you can find [here](https://ashki23.github.io/python-lib.html).

## 6.2 Packages
In addition to the standard library, Python allows us to extend its functionality by installing numerous third-party packages.

These packages enhance Python's capabilities across various domains, from data analysis to machine learning and visualization. Some of the most widely used Python packages include:  

- **Pandas**: A powerful library for working with tabular data (DataFrame), commonly used for handling data from spreadsheets or databases.  
- **NumPy**: A fundamental package for numerical computing, providing support for N-dimensional arrays and linear algebra operations.  
- **Scikit-Learn**: A robust machine learning library offering a wide range of tools for classification, regression, clustering, and more.  
- **Matplotlib**: A versatile library for creating high-quality 2D plots and visualizations.  
- **TensorFlow**: An advanced library for fast numerical computing, widely used for deep learning and artificial intelligence applications.  

🔥🔥 **Note: Since these are not part of the standard library, they need to be installed using a package manager like `pip`. When your project requires external packages, it’s best practice to use a [virtual environment](https://github.com/ashki23/python-workshop-basics#packages) or a container to manage dependencies efficiently.**

For example, to install `cartopy` package, we can use the following `pip install` command in the terminal (since Colab provides a Virtual Machine (VM) for running our codes, there's no need to create a virtual environment):

```bash
!pip install cartopy
```

🔥 In Jupyter Notebook, you can execute terminal commands by adding `!` to your command.

# 7. Input and Output

## 7.1 Formatted String

Formatted string literals (also called `f-strings` for short) let you include the value of Python expressions inside a string by prefixing the string with `f` or `F` and writing expressions as `{expression}`.

In [58]:
import math

print(f'The value of pi is approximately {round(math.pi, 2)}.')

# VS.
print('The value of pi is approximately', round(math.pi, 2), '.')

The value of pi is approximately 3.14.
The value of pi is approximately 3.14 .

## 7.2 Reading and Writing

First, let's write a text output from a list of strings:

In [59]:
f = ['This is the first line of the file.',
     'Second line of the file',
     'Third line of the file']

for line in f:
    print(line)

This is the first line of the file.
Second line of the file
Third line of the file

In [60]:
with open('output.txt', 'w') as file:
    for line in f:
        file.write(line + '\n')  # Adding newline after each line

36

24

23

The above code just created a text file named `output.txt` in the current directory.

Now, let's read `output.txt`:

In [61]:
with open('output.txt', 'r') as file:
    #type(file)
    print(file.read())

This is the first line of the file.
Second line of the file
Third line of the file

In [62]:
# We can use ".readlines()" method to read the file and store it in a list
with open('output.txt', 'r') as file:
    f_read = file.readlines()

f_read

# We can use ".strip()" method to remove the newline ending (\n)
f_read_strip = [x.strip() for x in f_read]
f_read_strip

['This is the first line of the file.\n',
 'Second line of the file\n',
 'Third line of the file\n']

['This is the first line of the file.',
 'Second line of the file',
 'Third line of the file']

In [63]:
# The TextIO object can is iterable so we can use listcomp too
with open('output.txt', 'r') as file:
    f_read = [line.strip() for line in file]

f_read_strip == f_read == f
f_read

True

['This is the first line of the file.',
 'Second line of the file',
 'Third line of the file']

🚀 Python provides built-in libraries for handling common data formats such as CSV, JSON, and SQL. The `csv` module allows reading and writing CSV files, the `json` module handles JSON data, and the `sqlite3` module provides an interface for working with SQL databases. However, for more specialized data formats like Excel, Parquet, or HDF5, you may need to install additional packages such as `pandas`, `openpyxl`, `pyarrow`, or `h5py`. These libraries extend Python’s capabilities, enabling seamless data processing across various formats.